#maincontainer{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 600px;
}

#logo {
    display: flex;
    border: dimgrey solid 1px;
    float: left;
}

#logincontainer{
    display: flex;
    border: dimgrey solid 1px;
    float: right;
    width: 250px;
    background-color: white;
}

#signupcontainer{
    display: flex;
    margin-bottom: auto;
    border: dimgrey solid 1px;
    float: right;
    width: 250px;
    background-color: white;
}

body{
    background-color: #90BDD4;
}

#welcomePage .inner{
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}


#welcomePage input,select{
    float: right;
    width: 50%;
    margin-right: 2px;
}

#welcomePage button{
    float: right;
    margin-right: 10px;
}

#welcomePage label{
    padding-left: 2px;
    font-size: small;
}
#welcomePage .row{
    width: 250px;
    margin-top: 10px;
}

form{
    width: 100%;
}

.alert{
    font-size: small;
    color: red;
}

.tab, .tab-cur{
    width: 33.1%;
    height: 50px;
    float: left;
    border: dimgrey 0.5px solid;
    background-color: white;
    color: black;
    font-size: large;
    text-align: center;
    line-height: 50px;
}

.tab-cur{
    background-color: grey;
    color: white;
}

.content{
    display: none;
}

#profilePage row{
    margin-top: 10px;
}

#profilePage label{
    padding-right:4em;
    margin-top: 5px;
    font-weight: bold;
}

#profilePage {
    margin-top: 5px;
    margin-bottom: 0px;
}

#logout{
    position: absolute;
    right: 10px;
    top: 10px;
}

#browsecontent{
    position: relative;
    float: top;
}

#profilearea th{
    text-align: left;
}

#addpost{
    width:100%;
}

#profilePage button{
    float: right;
    margin-top: 5px;
    width: 75px;
    height: 30px;
}

