#maincontainer{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 600px;
    border: 0.5px solid;
}

.tab, .tab-cur{
    width: 33.1%;
    height: 50px;
    float: left;
    border: dimgrey 0.5px solid;
    background-color: white;
    color: black;
    font-size: large;
    text-align: center;
    line-height: 50px;
}

.tab-cur{
    background-color: grey;
    color: white;
}
